body{
    background-color: black;
}
#img{
    justify-content: space-between;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    background-color: aqua;
    margin: 20px;
}
.a{
    box-shadow: 10px 10px 40px rgb(0, 0, 0);
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}
.a:hover{
    filter: grayscale(0%);
}
#final{
    background-color: azure;
}
#infor{
    background-color: azure;
}
#title{
    background-color: azure;
}
h1{
    background-color: aliceblue;
}